version: '3.8'
services:
  timescaledb:
    image: timescale/timescaledb:latest-pg14
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: analytics_db
    volumes:
      - timescale_data:/var/lib/postgresql/data

volumes:
  timescale_data: